*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
*::before, *::after {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    width: 380px;
    padding: 25px 30px;
    overflow: hidden;
    position: relative;
    background: rgba( 0, 0, 0, 0.36 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    border-radius: 15px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-bar span {
    font-size: 18px;
    color: whitesmoke;
}

.progress-area .song-timer, 
.controls, .music-list .header, .music-list ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-area {
    width: 100%;
    height: 320px;
    overflow: hidden;
    margin-top: 25px;
    border-radius: 20px;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.15);
}

.img-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song-details{
    text-align: center;
    margin: 30px 0;
}

.song-details p {
    color: whitesmoke;
}

.song-details .name {
    font-size: 21px;
}
  
.song-details .artist {
    font-size: 18px;
    opacity: 0.9;
    line-height: 35px;
}

.progress-area {
    height: 6px;
    width: 100%;
    border-radius: 50px;
    background: #f0f0f0;
    cursor: pointer;
}

.progress-area .progress-bar {
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: linear-gradient(90deg, rgba(121,9,9,1) 35%, rgba(255,0,0,1) 100%);
}

.progress-bar::before {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    background: inherit;
    transition: opacity 0.2s ease;
}

.progress-area:hover .progress-bar::before {
    opacity: 1;
    pointer-events: auto;
}

.progress-area .song-timer {
    margin-top: 2px;
}

.song-timer span {
    font-size: 13px;
    color: whitesmoke;
}

.controls {
    margin: 40px 0 5px 0;
}

.controls i {
    font-size: 28px;
    user-select: none;
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.controls i:hover {
    -webkit-text-fill-color: #ff0000;
    border-radius: 20%;
    background: white;
}

.controls i:nth-child(2),
  .controls i:nth-child(4) {
    font-size: 43px;
}

.controls #prev {
    margin-right: -13px;
}

.controls #next {
    margin-left: -13px;
}
 
.controls .play-pause {
    height: 54px;
    width: 54px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: white;
}
  
.play-pause::before {
    position: absolute;
    content: "";
    height: 43px;
    width: 43px;
    border-radius: inherit;
    background: #ff0000;
}

.play-pause i {
    height: 43px;
    width: 43px;
    line-height: 43px;
    text-align: center;
    background: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
}

.play-pause i:hover {
    transition: none;
}
  
.music-list {
    position: absolute;
    background: inherit;
    backdrop-filter: blur(20px);
    width: 100%;
    left: 0;
    bottom: -55%;
    opacity: 0;
    pointer-events: none;
    z-index: 5;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 0px -5px 10px rgba(0,0,0,0.1);
    transition: all 0.15s ease-out;
}
  
.music-list.show {
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}

.credit-area {
    width: 100%;
    height: 40px;
    overflow: hidden;
    margin-top: 10px;
}

.credit-area img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header .row {
    display: flex;
    align-items: center;
    font-size: 19px;
    color: whitesmoke;
}

.header .row i {
    cursor: default;
}

.header .row span {
    margin-left: 5px;
}

.header #close {
    font-size: 22px;
    color: white;
    cursor: pointer;
}
  
.music-list ul {
    margin: 10px 0;
    max-height: 260px;
    overflow: auto;
}

.music-list ul::-webkit-scrollbar{
    width: 0px;
}

.music-list ul li {
    list-style: none;
    display: flex;
    cursor: pointer;
    padding-bottom: 10px;
    margin-bottom: 5px;
    color: whitesmoke;
    border-bottom: 1px solid #E5E5E5;
}

.music-list ul li:last-child {
    border-bottom: 0px;
}

.music-list ul li .row span {
    font-size: 17px;
}

.music-list ul li .row p {
    opacity: 0.9;
}

ul li .audio-duration {
    font-size: 16px;
}

ul li.playing {
    pointer-events: none;
    color: #790909;
    font-weight: bolder;
}
